$background--black: #000000;

$body--blue: #292A2D;

$font--secondary: #5B5E67;
$font--primary: #FFFFFF;

$button--blue: #3764B4;
$button--gray: #5B5E67;
$button--dark--gray: #3B3D43;

$icon--white: #FFFFFF;