@import "colors";

.calculator__body__wrapper {
    height: 100%;
    width: 100%;
    background-color: $body--blue;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 150px auto;

    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

    padding-left: 40px;
    padding-right: 40px;

    .calculator__header__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        color: $font--primary;
        font-size: 45px;
        position: relative;

        .button__close__wrapper {
            position: absolute;
            left: 0px;
            width: 45px;
            height: 45px;

            .button__close__svg {
                fill: $icon--white;
                
                &:hover {
                    opacity: 0.6;
                }
                
            }
        }

        .button__trash__wrapper {
            position: absolute;
            right: 0px;
            width: 45px;
            height: 45px;

            .button__trash__svg {
                fill: $icon--white;
                
                &:hover {
                    opacity: 0.6;
                }
                
            }
        }
    }

    .calculator__history__wrapper {
        background-color: $body--light--gray;
        padding-left: 20px;
        border-radius: 20px;
    }
}