@import "colors";

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 700px;
    padding-right: 700px;

    @media all and (max-width: 1800px) {
        padding-left: 500px;
        padding-right: 500px;
    }

    @media all and (max-width: 1400px) {
        padding-left: 200px;
        padding-right: 200px;
    }

    @media all and (max-width: 800px) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media all and (max-width: 600px) {
        padding-left: 0px;
        padding-right: 0px;
    }

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;

    .calculator__body__wrapper {
        height: 100%;
        width: 100%;
        background-color: $body--blue;

        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox */
        box-sizing: border-box;

        display: grid;
        grid-template-rows: 100px 200px auto;

        border-top-right-radius: 12px;
        border-top-left-radius: 12px;

        .calculator__equation__wrapper {
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox */
            box-sizing: border-box;

            width: 100%;
            height: 100%;

            border-top-right-radius: 12px;
            border-top-left-radius: 12px;

            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: right;

            font-size: 35px;

            padding-right: 24px;

            color: $font--secondary;
        }

        .calculator__input__wrapper {
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox */
            box-sizing: border-box;

            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: right;

            font-size: 89px;

            padding-right: 24px;

            color: $font--primary;
        }

        .calculator__buttons__wrapper {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto auto;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            padding-bottom: 50px;

            .buttons__box__wrapper {
                height: 100%;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 45px;

                background-color: $button--dark--gray;

                color: $font--primary;
                border-radius: 15px;

                &:hover {
                    opacity: 0.7;
                }

                .button__icon__svg {
                    height: 80px;
                    width: 80px;
                    @media all and (max-width: 600px) {
                        height: 50px;
                        width: 50px;
                    }
                    fill: $icon--white;
                }
            }

            .button__box__operator {
                background-color: $button--blue;
            }

            .button__box__function {
                background-color: $button--gray;
            }


        }
    }
}

.is__clicked {
    opacity: 0.7;
}